<span>Company Details</span>
<%= link_to "New Company", new_company_path, :class => "btn btn-primary btn-new " %>
<ol>
  <li>3</li>
  <li>3</li>
  <li>3</li>
  <li>3</li>
  <li>3</li>
  <li>3</li>
  <li>3</li>
</ol>

